## datetime 라이브러리 

- date 
- time 
- datetime
    

   > [  df  ]   
 문자열 처리를 위해 str 접근자를 사용하듯이 datetime 오브젝트는 dt 접근자 사용해야 
 datetime 속성이나 메소드를 사용가능
 
     [도서] Do it 데이타분석을 위한 판다스 입문

In [2]:
""" datetime 라이브러리 : date / time / datetime 오브젝트 """
from datetime import datetime

print(datetime.now())
print(datetime.today())

2019-09-05 14:40:41.003683
2019-09-05 14:40:41.003683

In [4]:
t1 = datetime.today()
t2 = datetime(2018,12,25)
print(t1-t2)

254 days, 14:41:42.012682

In [5]:
print(t1.strftime('%Y-%m-%d'))
print(t1.strftime('%H:%M:%S'))

2019-09-05
14:41:42

## [ 연습 ]  datatime  오브젝트로 변경하여 필요한 데이타 추출 및 계산

In [6]:
import pandas as pd


ebola = pd.read_csv('./data/ebola_timeseries.csv')
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [3]:
# datetime 오브젝트로 변경하여 필요한 데이타 추출 및 계산

In [7]:
ebola2 = pd.read_csv('./data/ebola_timeseries.csv',parse_dates=['Date'])
ebola2.head()
ebola2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null datetime64[ns]
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: datetime64[ns](1), float64(16), int64(1)
memory usage: 17.2 KB

## [ 연습 ]  에볼라 최초 발병일 구하기

In [9]:
# import pandas as pd
# ebola = pd.read_csv('./data/ebola_timeseries.csv')
ebola2.min()

Date                   2014-03-22 00:00:00
Day                                      0
Cases_Guinea                            49
Cases_Liberia                            3
Cases_SierraLeone                        0
Cases_Nigeria                            0
Cases_Senegal                            1
Cases_UnitedStates                       1
Cases_Spain                              1
Cases_Mali                               1
Deaths_Guinea                           29
Deaths_Liberia                           2
Deaths_SierraLeone                       0
Deaths_Nigeria                           0
Deaths_Senegal                           0
Deaths_UnitedStates                      0
Deaths_Spain                             0
Deaths_Mali                              1
dtype: object