In [2]:
# Series 연산
from pandas import Series

s1 = Series([10, 15, 20], index=['일','이','삼'])
s2 = Series([2,4,6,8], index=['일','이','삼','사'])

In [3]:
s1 + 5

일    15
이    20
삼    25
dtype: int64

In [4]:
s1

일    10
이    15
삼    20
dtype: int64

In [5]:
s1 + s2

사     NaN
삼    26.0
이    19.0
일    12.0
dtype: float64

In [6]:
s3 = Series([1,2,3],index=['1줄','2줄','3줄'])
s1
s3
s1 + s3

1줄   NaN
2줄   NaN
3줄   NaN
삼    NaN
이    NaN
일    NaN
dtype: float64

In [8]:
# DataFrame 연산

from pandas import DataFrame
import numpy as np

df1 = DataFrame(np.zeros((3,3), dtype='int32'), index=['one','two','three'])
df1

       0  1  2
one    0  0  0
two    0  0  0
three  0  0  0

In [9]:
df2 = df1 + 3 
df2

       0  1  2
one    3  3  3
two    3  3  3
three  3  3  3

In [10]:
df3 = df1 * 2
df3

       0  1  2
one    0  0  0
two    0  0  0
three  0  0  0

In [11]:
df4 = DataFrame(np.ones((4,4), dtype='int32'), index=['one','two','three','four'])
df2 + df4

         0    1    2   3
four   NaN  NaN  NaN NaN
one    4.0  4.0  4.0 NaN
three  4.0  4.0  4.0 NaN
two    4.0  4.0  4.0 NaN

In [13]:
df2.add(df4)

         0    1    2   3
four   NaN  NaN  NaN NaN
one    4.0  4.0  4.0 NaN
three  4.0  4.0  4.0 NaN
two    4.0  4.0  4.0 NaN

In [14]:
df2.add(df4,fill_value=0)

         0    1    2    3
four   1.0  1.0  1.0  1.0
one    4.0  4.0  4.0  1.0
three  4.0  4.0  4.0  1.0
two    4.0  4.0  4.0  1.0

In [15]:
df4.mean()

0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64

In [17]:
'''
0 행방향 -> 열단위
1 열방향 -> 행단위
'''

df5 = df4.mean(axis=1)
df5

one      1.0
two      1.0
three    1.0
four     1.0
dtype: float64

문자열이 있는 데이타프레임의 연산

In [21]:
mydata = {
          'name':['홍길동','박길동','김길동'], 
          'age':[22,33,44], 
          'dept':['컴공','국어','산업']
         }
df = DataFrame(mydata)
df

  name  age dept
0  홍길동   22   컴공
1  박길동   33   국어
2  김길동   44   산업

In [22]:
# df + 100 string 있기 때문에 error

TypeError: can only concatenate str (not "int") to str

In [23]:
df *2

     name  age  dept
0  홍길동홍길동   44  컴공컴공
1  박길동박길동   66  국어국어
2  김길동김길동   88  산업산업