In [41]:
import pandas as pd

df = pd.read_excel('data/2016-01.xls')

df

                   상품명   판매건수     가격        매출
0                   봉투  12362     50    618100
1                  바나나   4285   3900  16711500
2                   야채   4190      0         0
3                 켐벨포도   2780  29800  82844000
4                 알뜰특란   2768   5300  14670400
5                   딸기   2234      0         0
6                팔음산포도   2161  19800  42787800
7                   봉투   2038     30     61140
8                  애호박   1962   1490   2923380
9                 청양고추   1901      0         0
10                  상추   1695      0         0
11            오)맛있는밥기획   1689   4450   7516050
12                  대파   1687   2980   5027260
13               양파(소)   1655   2900   4799500
14           강릉초당)왕콩나물   1529   1950   2981550
15                 백오이   1500   1490   2235000
16                블루베리   1498   2980   4464040
17               느타리버섯   1497   1290   1931130
18                  청과   1458      0         0
19                  무우   1408   1980   2787840
20            삼양)후레쉬기획   1361   3750   5103750
21                  감자   1344      0         0
22                봉지깻잎   1233   1500   1849500
23       동양축산)하루한알(특란)   1232   1850   2279200
24                 바나나   1213      0         0
25           백설)계란이왔어요   1198   3350   4013300
26                 양배추   1183      0         0
27        깨나라)오곡물티슈(캡)   1160   1750   2030000
28           오)3분쇠고기카레   1156   1000   1156000
29                팽이버섯   1080    990   1069200
..                 ...    ...    ...       ...
170            한성)해물우동    286   1450    414700
171             해표)식용유    284   5650   1604600
172         한돈오겹살(국내산)    282      0         0
173           건미역(산모용)    281   3800   1067800
174            백설)부침가루    280   2580    722400
175         대림)야채김자반기획    280   2850    798000
176             롯)카스타드    280   4550   1274000
177                미나리    280      0         0
178              코카콜라캔    279    890    248310
179                 생강    277      0         0
180            한성)미니윈너    274   4350   1191900
181            한성)튀김우동    266   1450    385700
182           미닛)망고100    266   2950    784700
183               파프리카    265      0         0
184                 꼬막    264      0         0
185         한돈불고기(국내산)    261      0         0
186            풀)국산콩나물    260   2100    546000
187            코카콜라PET    260   2690    699400
188        삼립)호빵(단팥야채)    260   5500   1430000
189           롯데)갸또쇼콜라    259   3950   1023050
190              황도복숭아    258      0         0
191       CJ)주부초밥왕(소풍)    256   3750    960000
192     온동네광천파래재래김(전장)    255   2550    650250
193              새송이버섯    255      0         0
194            CJ)행콩나물    253   1950    493350
195                바지락    253      0         0
196            해표)카놀라유    253   5600   1416800
197             오)자른당면    252   5850   1474200
198           롯데)알뜰소시지    252   4400   1108800
199  한돈앞다리/불고기,찌개(국내산)    252      0         0

[200 rows x 4 columns]

#### 판다스 데이타프레임의 기본적인 정보 얻어오기

- 앞에 10개 행 보기
- 뒤에 10개 행 보기

- 판매건수에서 큰 값 순으로 10개 (ngargest()이용)
- 판매건수에서 작은 값 순으로 10개 (nsmallest()이용)

In [13]:
# 앞에 10개 행 보기
# df[1:10]

# 뒤에 10개 행 보기
# df[-10:]

# 판매건수에서 큰 값 순으로 10개 
# df['판매건수'].nlargest(10)

# 판매건수에서 작은 값 순으로 10개 
# df['판매건수'].nsmallest(10)

197    252
198    252
199    252
194    253
195    253
196    253
192    255
193    255
191    256
190    258
Name: 판매건수, dtype: int64

#### 컬럼으로 추출

- 컬럼명들을 출력
- 판매건수 데이타 출력

In [19]:
#컬럼명들을 출력
# df.columns
df['판매건수'].values

array([12362,  4285,  4190,  2780,  2768,  2234,  2161,  2038,  1962,
        1901,  1695,  1689,  1687,  1655,  1529,  1500,  1498,  1497,
        1458,  1408,  1361,  1344,  1233,  1232,  1213,  1198,  1183,
        1160,  1156,  1080,  1013,  1009,   992,   989,   947,   936,
         916,   907,   899,   897,   852,   850,   844,   842,   822,
         819,   786,   777,   764,   743,   741,   734,   726,   720,
         710,   708,   708,   696,   690,   686,   684,   678,   676,
         674,   670,   670,   664,   659,   657,   654,   654,   637,
         636,   632,   631,   610,   606,   602,   588,   584,   583,
         582,   581,   580,   577,   576,   572,   565,   564,   552,
         529,   520,   514,   510,   505,   500,   496,   488,   488,
         487,   481,   478,   476,   474,   462,   459,   448,   446,
         444,   440,   440,   439,   435,   432,   428,   428,   420,
         419,   418,   409,   403,   402,   399,   398,   393,   388,
         387,   383,   380,   378,   377,   374,   372,   372,   372,
         364,   363,   360,   358,   358,   354,   334,   333,   324,
         323,   319,   316,   315,   312,   312,   309,   309,   305,
         305,   303,   302,   302,   300,   298,   298,   297,   297,
         295,   295,   294,   294,   289,   288,   287,   287,   286,
         284,   282,   281,   280,   280,   280,   280,   279,   277,
         274,   266,   266,   265,   264,   261,   260,   260,   260,
         259,   258,   256,   255,   255,   253,   253,   253,   252,
         252,   252], dtype=int64)

#### 행에서 데이타 추출

- 야채, 딸기, 봉투행을 추출하여 매출순으로 정렬하기 (sort_values()이용)
- 바나나행부터 딸기행까지 추출
- 야채부터 딸기행까지 추출

In [59]:
# 야채 딸기 봉투행을 추출하여 매출순으로 정렬하기
# df2 = df.loc[(df['상품명']=='야채')|(df['상품명']=='딸기')|(df['상품명']=='봉투')]
# df2.sort_values(by='매출')

# 바나나행부터 딸기행 까지 추출
# banana = df.index[df['상품명']=='바나나'] # 1,24
# banana

strawberry = df.index[df['상품명']=='딸기'] # 5
strawberry

# df5 = df.loc[1:5]
# df5

# df[banana[0]:strawberry[0]]

#야채부터 딸기행까지 추출

# vegetable = df.index[df['상품명']=='야채'] # 2
# vegetable

# df[vegetable[0]:strawberry[0]]

    상품명  판매건수     가격        매출
2    야채  4190      0         0
3  켐벨포도  2780  29800  82844000
4  알뜰특란  2768   5300  14670400

#### 일련번호로 데이타 추출

- 1번째 행 레코드 출력
- '바나나' 행 레코드 출력

In [79]:
# 1번째 행 레코드 출력
df.iloc[1]
#'바나나' 행 레코드 출력
# df.loc[df['상품명']=='바나나']

df.set_index('상품명').loc['바나나']

     판매건수    가격        매출
상품명
바나나  4285  3900  16711500
바나나  1213     0         0

#### 조건으로 검색

- 가격이 10000 초과 상품 출력
- 가격이 10000에서 20000 사이 상품 출력

In [72]:
# 가격이 10000 초과 상품 출력
df[df['가격']>10000]

# 가격이 10000 에서 20000 사이 상품 출력

df[(df['가격']>10000)&(df['가격']<20000)]

     상품명  판매건수     가격        매출
6  팔음산포도  2161  19800  42787800

#### 판매건수로 정렬

In [74]:
df.sort_values(by='판매건수', ascending=0)

                   상품명   판매건수     가격        매출
0                   봉투  12362     50    618100
1                  바나나   4285   3900  16711500
2                   야채   4190      0         0
3                 켐벨포도   2780  29800  82844000
4                 알뜰특란   2768   5300  14670400
5                   딸기   2234      0         0
6                팔음산포도   2161  19800  42787800
7                   봉투   2038     30     61140
8                  애호박   1962   1490   2923380
9                 청양고추   1901      0         0
10                  상추   1695      0         0
11            오)맛있는밥기획   1689   4450   7516050
12                  대파   1687   2980   5027260
13               양파(소)   1655   2900   4799500
14           강릉초당)왕콩나물   1529   1950   2981550
15                 백오이   1500   1490   2235000
16                블루베리   1498   2980   4464040
17               느타리버섯   1497   1290   1931130
18                  청과   1458      0         0
19                  무우   1408   1980   2787840
20            삼양)후레쉬기획   1361   3750   5103750
21                  감자   1344      0         0
22                봉지깻잎   1233   1500   1849500
23       동양축산)하루한알(특란)   1232   1850   2279200
24                 바나나   1213      0         0
25           백설)계란이왔어요   1198   3350   4013300
26                 양배추   1183      0         0
27        깨나라)오곡물티슈(캡)   1160   1750   2030000
28           오)3분쇠고기카레   1156   1000   1156000
29                팽이버섯   1080    990   1069200
..                 ...    ...    ...       ...
170            한성)해물우동    286   1450    414700
171             해표)식용유    284   5650   1604600
172         한돈오겹살(국내산)    282      0         0
173           건미역(산모용)    281   3800   1067800
177                미나리    280      0         0
176             롯)카스타드    280   4550   1274000
175         대림)야채김자반기획    280   2850    798000
174            백설)부침가루    280   2580    722400
178              코카콜라캔    279    890    248310
179                 생강    277      0         0
180            한성)미니윈너    274   4350   1191900
181            한성)튀김우동    266   1450    385700
182           미닛)망고100    266   2950    784700
183               파프리카    265      0         0
184                 꼬막    264      0         0
185         한돈불고기(국내산)    261      0         0
187            코카콜라PET    260   2690    699400
188        삼립)호빵(단팥야채)    260   5500   1430000
186            풀)국산콩나물    260   2100    546000
189           롯데)갸또쇼콜라    259   3950   1023050
190              황도복숭아    258      0         0
191       CJ)주부초밥왕(소풍)    256   3750    960000
192     온동네광천파래재래김(전장)    255   2550    650250
193              새송이버섯    255      0         0
194            CJ)행콩나물    253   1950    493350
195                바지락    253      0         0
196            해표)카놀라유    253   5600   1416800
197             오)자른당면    252   5850   1474200
198           롯데)알뜰소시지    252   4400   1108800
199  한돈앞다리/불고기,찌개(국내산)    252      0         0

[200 rows x 4 columns]

#### 연속적(chain)으로 데이타 추출