## Series

- DataFrame의 한 컬럼 데이터 세트

- Series 역시 DataFrame의 인덱스와 동일한 인덱스를 가진다

- 즉 Series는 컬럼이 하나인 데이타 구조체이고, DataFrame은 컬럼이 여러개인 데이타 구조체이다

In [1]:
from pandas import Series

age_in = Series([22,33,44,25,28])
age_in

0    22
1    33
2    44
3    25
4    28
dtype: int64

In [4]:
age_in.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
age_in.values

# DataFrame은 values 인나?

array([22, 33, 44, 25, 28], dtype=int64)

In [3]:
age_in.keys

RangeIndex(start=0, stop=5, step=1)

인덱스 지정하며 시리즈 생성

In [9]:
age_in = Series([22,33,44,25,28], index=['가','나','다','라','마'])
age_in['다']=100
age_in

가     22
나     33
다    100
라     25
마     28
dtype: int64

In [12]:
age_in.keys()

age_in.keys

# 두개의 명령이 다른 결과이다.
# keys()는 index로 직접 지정한 것을 의미하고
# keys는 지정해준 인덱스를 의미하는데 여기서는 없기 때문에 이렇게 나오는거 아난가?

<bound method Series.keys of 가     22
나     33
다    100
라     25
마     28
dtype: int64>

In [19]:
# Series 인덱스 중복 확인
srs = Series(['가','나','다'],index=['a','b','a'])
print(srs)
print(srs['a'])
print(srs['b'])

print(srs[0])
print(srs[1])
srs[-1]   # 예전 예문에서는 음수 인덱스 지원안되어 KeyError발생했었는데 
          # 현재는 지원되는것인가???

a    가
b    나
a    다
dtype: object
a    가
a    다
dtype: object
나
가
나

'다'

딕셔러리를 시리즈 형태로 변환

In [22]:
# 딕셔러리를 시리즈 형태로 변환
info_list = { 'kim': 25, 'park':22, 'lee':34 }
info_series = Series(info_list)
info_series

kim     25
park    22
lee     34
dtype: int64

In [23]:
info_series.index

Index(['kim', 'park', 'lee'], dtype='object')

In [25]:
info_series.keys

info_series.keys()

Index(['kim', 'park', 'lee'], dtype='object')

In [19]:
info_series['lee'] = 100
info_series

kim      25
park     22
lee     100
dtype: int64

In [26]:
# 인덱스를 지정하면 -> NaN로
# 이미 인덱스 역할을 할 요소가 있는데 index를 지정해서 그런가
info_series = Series(info_list, index=[0,1,2])
info_series

0   NaN
1   NaN
2   NaN
dtype: float64

In [29]:
## 가,나,다 요소에 A, B, C 인덱스를 가진 시리즈 생성
# info = { '가','나','다' }  -> 에러
info = ['가','나','다']
info_series = Series(info, index=['A','B','C'])
info_series

A    가
B    나
C    다
dtype: object

##  Series 인덱스

+ 리스트, 튜플의 index와  dict 의 key 와 유사

+ 같은 값의 index 가 가능 ( 즉, 중복 가능 )


-------------------------------------------------
- 리스트 튜플 index : 일련번호로 변경불가 / 순서 개념이 있다

- Series Index : 중복 가능 / 순서 개념이 있다

- Dict key : 중복 불가 / 순서 개념 없다

## 판다스를 사용하는 이유


만일 파이썬의 리스트와 판다스의 Series가 거의 유사하다면, 우리는 왜 파이썬의 리스트가 아닌 판다스의 Series를 사용할까? 

파이썬의 리스트를 사용하면 판다스에서 제공하는 다양한 기능을 사용할 수 없기 때문이다.

In [1]:
# 파이썬의 리스트를 만듭니다. 이 리스트에는 1, 3, 5, 7, 9가 들어갑니다.
# 이 리스트를 odd라는 이름의 변수에 저장합니다.
odd = [1, 3, 5, 7, 9]

# odd 리스트의 평균 값(mean)을 가져오려고 시도합니다.
# 하지만 파이썬의 리스트에는 이러한 기능이 없기 때문에 에러가 납니다.
odd.mean()  #에러

AttributeError: 'list' object has no attribute 'mean'

In [ ]:
# 이번에는 이 파이썬 리스트를 다시 판다스의 Series로 변환하겠습니다.
# 마찬가지로 odd라는 이름의 변수에 다시 저장합니다.
odd = pd.Series(odd)

# odd Series의 평균 값(mean)을 가져옵니다.
# 판다스에는 이러한 기능이 있기 때문에 정상적으로 동작합니다.
odd.mean()