In [4]:
""" Do it 데이터 분석을 위한 판다스 입문 예제 


    탭(/t)으로 구분된 파일을 갭마인더 데이터 집합인데, read_csv로 읽어올 수 있다
"""

# 1. 데이타 읽어오기
import pandas
df = pandas.read_csv('./data/countries.tsv', sep='\t')  # 주의 /t은 안됨 - warning

In [16]:
# 2. 구조파악하기
type(df)
df.shape
df.columns
df.dtypes
df.info()  # dtypes보다 구체적

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [26]:
# 3. 단순 데이타 추출하기
# (1) country 열을 추출하여 country_col 변수에 저장하고 확인 - 열단위 추출
country_col = df['country']
type(country_col)
# (2) 데이타의 앞 뒤 5개씩 출력
country_col.head()
country_col.tail()
# (3) 첫번째 데이타와 마지막 행 데이타 추출 - 행단위 추출 
#     loc(인덱스기준)과 iloc(행번호기준)
df.loc[0]
number_of_rows = df.shape[0]
df.loc[number_of_rows - 1]   # df.tail(n=1)  그러나 출력결과가 다르고 결과 반환된 데이타 타입 다름
# (4) 0번째, 100번째 1000번째 데이타 추출
df.loc[[0, 100, 1000]]

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
100    Bangladesh      Asia  1972   45.252  70759295   630.233627
1000     Mongolia      Asia  1972   53.754   1320500  1421.741975

In [35]:
# 4. 데이타 추출하기 
# (1) 0번째부터 100번째 까지의 데이타의 'country'와 'continent'를 추출하여 변수에 저장하고 출력
subset = df.loc[0:100,['country','continent'] ]
# 열을 번호로 지정하려면 iloc을 이용할 수 있다
# subset = df.iloc[0:100, list(range(0,2))]
subset.tail()

       country continent
95     Bahrain      Asia
96  Bangladesh      Asia
97  Bangladesh      Asia
98  Bangladesh      Asia
99  Bangladesh      Asia