In [2]:
import pandas as pd

# 1. 데이타 가져오기
person = pd.read_csv('./data/survey_person.csv')
# print(person)
site = pd.read_csv('./data/survey_site.csv')
print(site)
survey = pd.read_csv('./data/survey_survey.csv')
# print(survey)
visited = pd.read_csv('./data/survey_visited.csv')
print(visited)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [9]:
# 2. 데이타 연결하기
# (1) concat 메소드 연결

redata = pd.concat([site, visited])
print(redata)
# [결과확인] 해당행과 해당열 연결

# 만일 동일한 컬럼이 있다면 
redata = pd.concat([person, visited])
print(redata)
# [결과확인] 동일 컬럼을 하나로 되고 인덱스가 각자 고유의 인덱스를 가진다
#          인덱스를 다시 지정 하려면: ignore_index=True
#          공통열만 고른다면: join='inner'

# 열방향으로 데이터 연결
# redata = pd.concat([person, visited], axis=1)
# print(redata)

# 행방향으로 연결 - 기존연결이 행방향이기에 결과 동일
# redata = pd.concat([person, visited], axis=0)
# print(redata)

      ident   personal    family  ident   site       dated
0      dyer    William      Dyer    619   DR-1  1927-02-08
1        pb      Frank   Pabodie    622   DR-1  1927-02-10
2      lake   Anderson      Lake    734   DR-3  1939-01-07
3       roe  Valentina   Roerich    735   DR-3  1930-01-12
4  danforth      Frank  Danforth    751   DR-3  1930-02-26
5       NaN        NaN       NaN    752   DR-3         NaN
6       NaN        NaN       NaN    837  MSK-4  1932-01-14
7       NaN        NaN       NaN    844   DR-1  1932-03-22
        dated    family     ident   personal   site
0         NaN      Dyer      dyer    William    NaN
1         NaN   Pabodie        pb      Frank    NaN
2         NaN      Lake      lake   Anderson    NaN
3         NaN   Roerich       roe  Valentina    NaN
4         NaN  Danforth  danforth      Frank    NaN
0  1927-02-08       NaN       619        NaN   DR-1
1  1927-02-10       NaN       622        NaN   DR-1
2  1939-01-07       NaN       734        NaN   DR-3
3  1930-01-12       NaN       735        NaN   DR-3
4  1930-02-26       NaN       751        NaN   DR-3
5         NaN       NaN       752        NaN   DR-3
6  1932-01-14       NaN       837        NaN  MSK-4
7  1932-03-22       NaN       844        NaN   DR-1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [5]:
# (2) merge()
merge_data = site.merge(visited, left_on='name', right_on='site')
print(merge_data)
# [결과확인] 같은 데이타인 site의 name와 visited의 site 동일 값끼리 연결

# 다른 데이타프레임에서 merge 한다면 동일 데이타 값을 찾기
# person의 ident와 survey의 person
# visited의 ident와 survey의 taken
merge_data = person.merge(survey, left_on='ident', right_on='person')
print(merge_data)
# visited.merge(survey, left_on='ident', right_on='taken')

""" inner 조인과 outer 조인 """
# merge_data = person.merge(survey, how='outer', left_on='ident', right_on='person')
# print(merge_data)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25
       ident   personal    family  taken person quant  reading
0       dyer    William      Dyer  619.0   dyer   rad     9.82
1       dyer    William      Dyer  619.0   dyer   sal     0.13
2       dyer    William      Dyer  622.0   dyer   rad     7.80
3       dyer    William      Dyer  622.0   dyer   sal     0.09
4         pb      Frank   Pabodie  734.0     pb   rad     8.41
5         pb      Frank   Pabodie  734.0     pb  temp   -21.50
6         pb      Frank   Pabodie  735.0     pb   rad     7.22
7         pb      Frank   Pabodie  751.0     pb   rad     4.35
8         pb      Frank   Pabodie  751.0     pb  temp   -18.50
9       lake   Anderson      Lake  734.0   lake   sal     0.05
10      lake   Anderson      Lake  751.0   lake   sal     0.10
11      lake   Anderson      Lake  752.0   lake   rad     2.19
12      lake   Anderson      Lake  752.0   lake   sal     0.09
13      lake   Anderson      Lake  752.0   lake  temp   -16.00
14      lake   Anderson      Lake  837.0   lake   rad     1.46
15      lake   Anderson      Lake  837.0   lake   sal     0.21
16       roe  Valentina   Roerich  752.0    roe   sal    41.60
17       roe  Valentina   Roerich  837.0    roe   sal    22.50
18       roe  Valentina   Roerich  844.0    roe   rad    11.25
19  danforth      Frank  Danforth    NaN    NaN   NaN      NaN
20       NaN        NaN       NaN  735.0    NaN   sal     0.06
21       NaN        NaN       NaN  735.0    NaN  temp   -26.00